<% if (site.posts.length){ %>
  <div class="ui fluid card">
    <div class="content">
      <div class="header">Archives</div>
    </div>
    <div class="content">
      <%- cr_list_archives({style: 'other', separator: '<br/>'}) %>
    </div>
  </div>
<% } %>