<% if (site.posts.length){ %>
  <div class="ui fluid card">
    <div class="content">
      <div class="header">Recent posts</div>
    </div>
    <div class="content">
      <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
        <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a><br/>
      <% }) %>
    </div>
  </div>
<% } %>