html, body
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif !default

.ui.top.menu
  background-color: #2b3946
  margin: 0
  .item
    height: 64px
    color: white
    @media only screen and (max-width: 991px)
      height: 56px
    a
      color: white
  .logo-item
    @media only screen and (max-width: 639px)
      margin: 0 auto;
  .logo
    height: 37px
    @media only screen and (max-width: 991px)
      height: 33px
    @media only screen and (max-width: 639px)
      margin-left: -56px;
  .menu>.ui.icon.input>i.circular.icon
    top: .24em
    right: .24em
  &+.ui.grid
    margin-top: 0
    padding-top: 78px
    padding-top: calc(64px + 1rem)
    @media only screen and (max-width: 991px)
      padding-top: 70px
      padding-top: calc(56px + 1rem)

.uppercase
  text-transform: uppercase

.lowercase
  text-transform: lowercase

.ui.grid.menu>.column:not(.row),
.ui.grid.menu>.row>.column
  width: auto
