html, body
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif !default

.ui.top.menu,
.ui.bottom.menu
  background-color: #2b3946
  margin: 0
  .item
    color: white

.ui.top.menu
  .item
    height: 64px
    @media only screen and (max-width: 991px)
      height: 56px
    a
      color: white
  .logo-item
    @media only screen and (max-width: 639px)
      margin: 0 auto;
  .logo
    height: 37px
    @media only screen and (max-width: 991px)
      height: 33px
    @media only screen and (max-width: 639px)
      margin-left: -56px;
  .menu>.ui.icon.input>i.circular.icon
    top: .24em
    right: .24em
  &+.ui.grid
    margin-top: 0
    padding-top: 78px
    padding-top: calc(64px + 1rem)
    @media only screen and (max-width: 991px)
      padding-top: 70px
      padding-top: calc(56px + 1rem)

.ui.bottom.menu
  .icon
    color: white
    font-size: 1.2em
    width: 30px

.uppercase
  text-transform: uppercase

.lowercase
  text-transform: lowercase

.ui.grid.menu>.column:not(.row),
.ui.grid.menu>.row>.column
  width: auto

.ui.vertical.divider.connected
  &:before,
  &:after
    height: 100%

.ui.menu
  .item.share
    >.icon
      font-size: 1.5rem
      margin: 0
    &:hover
      >.icon
        color: white
      &.twitter
        background-color: #00aced
      &.facebook
        background-color: #3b5998
      &.pinterest
        background-color: #cb2027
      &.google
        background-color: #dd4b39
