html, body
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;

.mdl-layout__container.has-scrolling-header
  .mdl-layout__content
    overflow: visible;

.mdl-layout__header
  background-color: #2B3946;
  .mdl-layout__header-row
    padding: 0 40px 0 40px;
    @media only screen and (max-width: 1024px)
      padding: 0 16px 0 16px;
  .header-logo-container
    line-height: 64px;
    @media only screen and (max-width: 1024px)
      line-height: 56px;
      display: flex;
      position: absolute;
      justify-content: center;
      left: 0;
      top: 0;
      width: 100%;
  .header-logo-link
    text-align: middle;
    z-index: 1;
  .header-logo
    height: 37px;
    margin: 0;
    float: none;
  .mdl-textfield
    @media only screen and (max-width: 640px)
      display: none;
    .mdl-textfield__input
      border-bottom: 1px solid white;
  .mdl-navigation__link
    font-size: 14px;
    font-weight: 400;
    z-index: 1;

.mde-centered
  display: flex;
  position: absolute;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
