<div class="ui secondary menu bottom">
  <div class="item right">
    <a href="http://twitter.com/critikapp" target="_blank"><i class="twitter icon"></i></a>
    <a href="http://facebook.com/critikapp" target="_blank"><i class="facebook icon"></i></a>
    <a href="http://plus.google.com/104268979507417470242/" target="_blank"><i class="google plus icon"></i></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
  </div>
</div>